<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>Industrious by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
	
	




		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">REDALERT</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="#">Home</a></li>
					<li><a href="#">NeswFeed</a></li>
					<li><a href="#">contacts</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<!--<h1>RedAlert</h1><br/>-->
					<p></p>
		<h1>WELCOME</h1>	
		
				
 <p th:text="'Hello, ' + ${userreg2.firstName} + ${userreg2.lastName}" />
    
					<form action="RedAlert" method="post">
		<input type="hidden" th:value="RED_ALERT"  name="alert" > 
            <button class="button" type="submit">RED</button>
           
           </form>

            <form action="orangeAlert"  method="post">
            <input type="hidden"  th:value="ORANGE_ALERT" name="alert" > 
           <button class="button" type="submit">ORANGE</button>
           </form>


         <form action="GreenAlert"  method="post">
         <input type="hidden"  th:value="GREEN_ALERT" name="alert" > 
           <button class="button" type="submit">GREEN</button>
          </form>
				</div>
				<img scr="RedAlert.jpg">
				
		</section>
			
<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>