<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
	function Expand(obj) {
		if (!obj.savesize)
			obj.savesize = obj.size;
		obj.size = Math.max(obj.savesize, obj.value.length);
	}
</script>
</head>
<body>
	<h1>red alert</h1>
	<form action="#" th:action="@{/alertcontroller/postinformation}" th:object="${view}" method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<td>Victim Name:</td>
				
			</tr>
               
			<tr>
				<td>Message:</td>
				
				<td><input type="text" th:field="*{feed.comments}"  /></td>
				<td><input type="hidden" th:field="*{feed.id}"  /></td>
				
				
				
			</tr>
			<tr>
               <td>File Upload(optionally):</td>
               <input type = "file" th:name="img" />
              
              </tr>
			<tr>

				<td><button type="submit">Submit</button></td>
				
			</tr>
		</table>

	</form>
</body>
</html>